<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Edit Books Rating</h2>
  <ul>
    <li>{{book['title']}}</li>
    <li>{{book['author']}}</li>

    <li>
      <label>Rating: </label>
        <form action={{url_for('edit')}} method="POST">
                  <input hidden value={{book['id']}} type="text" name="id"/>

      <input value={{book['rating']}} type="text" name="books_rating"/>
            <button type="submit">Save</button>
        </form>
    </li>
  </ul>
</body>
</html>